$text-grey: #aeb3be;
$text-black: #212830;

$secondary-lavender: #dae0ff;
$secondary-lavender-30: rgba(218, 224, 255, 0.3);
$secondary-coral: #ffdcd9;
$secondary-lime: #d8fcba;

$grey: #cfd5e070;
$coral: #ffa69e;
$green: #bcf095;
$lavender: #aebbfe;
$white-main-bg: #e0dada;
